﻿@model SE.Web.ViewModels.Account.RegisterViewModel 

@{
    ViewData["Title"] = "Register";
}

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Name">Введите имя</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Surname">Введите фамилию</label><br />
            <input type="text" asp-for="Surname" />
            <span asp-validation-for="Surname" />
        </div>
        <div>
            <label asp-for="Email">Введите Email</label><br/>
            <input type="text" asp-for="Email"/>
            <span asp-validation-for="Email"/>
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div>
            <label asp-for="PasswordConfirm">Повторите пароль</label><br/>
            <input asp-for="PasswordConfirm"/>
            <span asp-validation-for="PasswordConfirm"/>
        </div>
        <div>
            <input type="submit" value="Регистрация"/>
        </div>
    </div>
</form>